/*  FILM BIOGRAPHY  */
.film-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:75%;

    > div{
        width:100%;
    }

    @media (max-width: 480px) {
        width:100vw;
    }

    @media only screen and (min-width: 480px) and (max-width: 1280px){
        width:95vw;
    }
}

.category-title{
    font-weight: bold;
    font-size:2em;
    padding:10px 200px;
    margin-bottom: 20px;
    background: rgb(210,204,196);
    background: linear-gradient(100deg, rgba(210,204,196,0.01) 0%, rgba(47,67,83,0.2) 50%, rgba(210,204,196,0.01) 100%);

    @media (max-width: 480px) {
        padding: 10px 20px;
        font-size:1.3em;
    }
}
  
/*  SINGLE FILM  */

.single-film-container{
    display:flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom:1px solid black;
    margin-top:10px;
    margin-bottom: 10px;
    width:100%;

    @media (max-width: 480px) {
        justify-content: space-between;
        font-size:0.7em;
        img{
            width:30vw; 
        }
    }
}
  
.film-info{
    width:50%;

    @media (max-width: 480px) {
        width:40%;
    }
}
  
.film-picture-container{
   display:flex;
   justify-content: flex-end;
   margin-right:5%;
   width:45%;
   
   @media (max-width: 480px) {
        margin-right: 5%;
        width:50%;
   }
}
  
.film-picture{
    position: relative;
    width:250px;
    margin-top:10px;
    margin-bottom:10px;

    img{
        width:250px;
    }

    @media (max-width: 480px) {
        width:auto;
        img{
            width:30vw;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 1280px){
        width:200px;

        img{
            width:200px;
        }
    }
}
  
.disable-href{
    pointer-events: none;
    cursor: default;
}

.secondary-list{
    list-style-type: none;

    li{
        padding:6px;
    }

    @media (max-width: 480px) {
        li{
            padding:3px;
        }
    }
}
  