/*  BODY  */
.middle-container{
    display: flex;
    flex-direction: column;
    width:100vw;
    margin-top:20px;

    @media only screen and (min-width: 480px) and (max-width: 1280px){
        font-size:0.8em;
    }
}

.middle-body{
    display:flex;
    justify-content: center;
    width:100vw;
}
  
.middle-navbar{
    width:100vw;
    display: flex;
    justify-content: center;
    margin-bottom:30px;
    margin-top:30px;

    div:first-of-type{
        border-right: 1px solid black;
        border-collapse: collapse;
    }

    div:last-of-type{
        border-collapse: collapse;
    }
}

.navbar-option{
    padding:5px;
    font-size:1.2em;

    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
  
.highlighted{
    font-weight: bold;
   border-bottom: 1px solid black;
   font-size:1.1em;
}

/* MOBILE BODY */
.middle-navbar-mobile-container{
    display: flex;
    flex-direction: column;
    width:100vw;
    margin-bottom: 30px;
}
  
.navbar-mobile-container{
    display: flex;
    margin-bottom:20px;
}

.film-bar{
    @media (max-width: 480px) {
        margin-left:10vw;
        border-right: 1px solid black;
        transition: all 0.5s ease-in-out;
    }
}
  
.dev-bar{
    @media (max-width: 480px) {
        margin-left:65vw;
        transition: all 0.5s ease-in-out;
    
        + div{
            border-left: 1px solid black;
        }
    }
}