/*  DEV BIOGRAPHY  */
.dev-biography-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;

    > div{
        width:80vw;
        border-bottom:1px solid black;
        margin-bottom:50px;
    }

    > div:last-child{
        padding-bottom: 20px;
    }

    @media (max-width: 480px) {
        width:100vw;
        font-size:0.8em;

        > div{
            width:100vw;
            border-bottom:1px solid black;
            margin-bottom:20px;
        }
    }
}
  
/* SINGLE APP  */
.single-app-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}
  
.single-app-title{
    font-size: 2em; 
    font-weight: bold;
    margin-bottom: 20px;
    padding:10px 200px;
    border-radius: 10px;
    color:black;
    background: rgb(210,204,196);
    background: linear-gradient(100deg, rgba(210,204,196,0.01) 0%, rgba(47,67,83,0.2) 50%, rgba(210,204,196,0.01) 100%);

    @media (max-width: 480px) {
    font-size:1.5em;
    padding:8px 15px;
    }

    @media only screen and (min-width: 321px) and (max-width: 480px){
        font-size:1.7em;
        padding: 10px 30px;
    }

    @media only screen and (min-width: 481px) and (max-width: 780px){
        padding: 10px 30px;
    }
}

.single-app-info-container{
    display:flex;
    flex-wrap: wrap;
    width:85vw;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom: 20px;

    div{
        width: 30%;
        margin-left:1%;
    }

    @media (max-width: 480px) {
        div{
            width:100%;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 1280px){
        width:95vw;

        div{
            width:33%;
            margin-left:1px; 
        }
    }
}
  
.single-app-picture-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:85vw;
    margin-top:20px;

    img{
        width:20vw;
        border:1px solid black;
        border-radius:10px;
        height:auto;
        z-index:5;

        &:hover{
            position: relative;
            transform: scale(1.5);
            transition: all, .5s ease-in;
            z-index:6;
        }
    }

    @media(max-width:300px){
        img:hover{
            transform: scale(1.0);
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        flex-wrap: wrap;
        width:100vw;
        margin-top:0px;

        img{
            width:80vw;
            margin:10px;

            &:hover{
                transform: scale(1.0);
            }
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 1280px){
        width:95vw;

        img{
            width:25vw;
        }
    }
}
  
.apps-used-container{
  display: flex;
  max-height: 80px;

  img{
    width:50px;
    max-height: 50px;
    padding:5px;
  }

  @media (max-width: 480px) {
    img{
        width:25px;
        max-height: 30px;
    }
  }

  @media only screen and (min-width: 480px) and (max-width: 1280px){
    img{
        width:40px;
        max-height:50px;
    }
}
}
  
/* CODEPEN  */
.codepen-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 480px) {
        width:100vw;
    }

    @media only screen and (min-width: 480px) and (max-width: 1280px){
        width:95vw;
    }
}
  
.codepen-image-container{
    position: relative;    

    img{
        width:300px;
        border:1px solid black;
        border-radius: 10px;
    }

    div a img{
        width:100px;
    }

    @media (max-width: 480px) {
        img{
            width:30vw;
        }

        div a img{
            width:25px;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 1280px){
        img{
            width:30vw;
        }
    }
}

.codepen-title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.single-codepen-app{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    margin:20px;

    @media (max-width: 480px) {
        margin:5px;
    }
}

/* LOGIN DATA FOR DEV APPS */
.login-data-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding:10px;
    margin-top:50px;
    margin-bottom:20px;
    border-radius: 10px;
    border:1px solid black;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);

    @media(max-width:300px){
        margin-top:20px;
        font-size:0.8em;
    }

    @media (max-width: 480px) {
        margin-top:20px;
        width:90vw;
    }
}
      
.login-data-title{
        font-weight: bold;
        font-size:1.2em;
        margin-top:20px;
        margin-bottom: 20px;
}
      
.login-data-body{
        display:flex;
        width:40vw;
        justify-content: space-between;

        @media (max-width: 480px) {
            width:90vw;
        }

        @media only screen and (min-width: 480px) and (max-width: 1280px){
            width:auto;
        }

        @media only screen and (min-width: 1699px){
            width:500px;
        }
}
      
.login-data-item{
        display:flex;
        width:200px;
        justify-content: space-around;
        padding:1px 0px;
        align-items: center;

        input{
            width:70%;
        }

        svg:hover{
            cursor: pointer;
            transform: scale(1.2);
        }

        @media (max-width: 480px) {
            width:40vw;
            padding:5px;

            svg{
                padding:5px;
            }
        }
}

.visit-app{
    font-size:2.5em;
    margin-top:20px;
    margin-bottom: 20px;

    a{
        display:flex;
        justify-content: space-between;
        align-items: center;
        color:black;

        &:hover{
            color:rgb(210,204,196);
        }
    }

    img{
        padding:10px;
        width:25px;
    }
}
        
.copy-item{
        background-color: #eadac5;
        padding:3px 6px;
        text-align: center;
        font-size:0.7em;
}