
/*HOME - MAIN PAGE*/

/* 

  indentacije sredjuj, negdje ih nemas nikako, negdje jedan nivo, negdje 2, odluci se za neki standard i onda ga prati
  SCSS ce ti olaksati zivot, kad initas react projekat nudi ti opciju ja mislim odmah hoces li CSS ili SCSS

*/

*{
  font-family: 'Roboto', sans-serif;
}

.main-container{
  display:flex;
  flex-direction: column;
  min-height:100vh;
  overflow-x: hidden;
background-color: #2f4353;
background-image: linear-gradient(15deg, #2f4353 0%, #d2ccc4 74%);
}

.main-list-film{
display:flex;
justify-content: flex-end;
align-items: center;
}

.main-list-dev{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-list-film img, .main-list-dev img{
  margin:5px;
  width:7px;
}


/* TOP */
.upper-container{
display: flex;
flex-wrap: wrap;
margin-top:50px;
width:100vw;
justify-content: center;
align-items: center;
}

.upper-container div{
  margin:20px;
}

.picture-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.personal-info{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.personal-info span:first-of-type{
  font-weight: bold;
  font-size:1.2em;
}

.picture-container img{
    width:300px;
    border-radius: 50%;
    border:2px solid black;
    -webkit-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.43);
}

.film-short-biography{
  width:33%;
  text-align: right;
}

.dev-short-biography{
  width:33%;
}

/* MIDDLE */
.middle-container{
  display: flex;
  flex-direction: column;
  width:100vw;
  margin-top:20px;
}

.middle-body{
  display:flex;
  justify-content: center;
  width:100vw;
}

.middle-navbar{
  width:100vw;
  display: flex;
  justify-content: center;
  margin-bottom:30px;
  margin-top:30px;
}

.middle-navbar div:first-of-type{
  border-right: 1px solid black;
  border-collapse: collapse;
}

.middle-navbar div:last-of-type{
  border-collapse: collapse;
  
}

.secondary-list{
  list-style-type: none;
}

.secondary-list li{
  padding:6px;
}

.navbar-option{
  padding:5px;
  font-size:1.2em;
}

.navbar-option:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.category-title{
  font-weight: bold;
  font-size:2em;
  padding:10px 200px;
  margin-bottom: 20px;
  background: rgb(210,204,196);
  background: linear-gradient(100deg, rgba(210,204,196,0.01) 0%, rgba(47,67,83,0.2) 50%, rgba(210,204,196,0.01) 100%);
}

/* MIDDLE - FILM*/

.film-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:75%;
}

.film-container > div{
  width:100%;
}

.single-film-container{
  display:flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom:1px solid black;
  margin-top:10px;
  margin-bottom: 10px;
  width:100%;
}

.film-info{
  width:50%;
}

.film-picture-container{
 display:flex;
 justify-content: flex-end;
 margin-right:5%;
 width:45%;
}

.film-picture{
  position: relative;
  width:250px;
  margin-top:10px;
  margin-bottom:10px;
}

.film-picture img{
  width:250px;
}

.film-hidden{
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:2;
  background-color: rgba(0,0,0,0.9);
  border-radius: 10px;
}

.film-hidden a{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:white;
  height:70%;
  text-decoration: none;
}

.film-hidden span{
  color:white;
}

.film-hidden img{
  width:70px;
}

/*MIDDLE - DEV*/

.dev-biography-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
}

.dev-biography-container > div{
  width:80vw;
  border-bottom:1px solid black;
  margin-bottom:50px;
}

.dev-biography-container > div:last-child{
  padding-bottom: 20px;
}
.single-app-container{
  display:flex;
  flex-direction: column;
  align-items:center;
  width:100%;
}

.single-app-title{
  font-size: 2em;
  
  font-weight: bold;
  margin-bottom: 20px;
  padding:10px 200px;
  border-radius: 10px;
  color:black;
  background: rgb(210,204,196);
  background: linear-gradient(100deg, rgba(210,204,196,0.01) 0%, rgba(47,67,83,0.2) 50%, rgba(210,204,196,0.01) 100%);
}

.apps-used-container{
display: flex;
}

.apps-used-container img{
  width:50px;
  max-height: 50px;
  padding:5px;
}

.single-app-info-container{
  display:flex;
  flex-wrap: wrap;
  width:85vw;
  justify-content: space-around;
  margin-top:20px;
  margin-bottom: 20px;
}

.single-app-info-container div{
  width: 30%;
  margin-left:1%;
}

.single-app-picture-container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:85vw;
  margin-top:20px;
}

.single-app-picture-container img{
  width:20vw;
  border:1px solid black;
  border-radius:10px;
  transition: all, .5s ease-in;
  /* 
    ako hoces transition da koristis onda ga stavi na pocetno stanje elementa a ne na :hover jer onda imas tranziciju i kad sklonis mis
    inace si kacio transition samo na :hover i onda cim sklonis mis naglo se smanji slika a sad kad sam ti prebacio ovdje transition,
    vidjeces kako se i povecava i smanjuje postepeno
    i ako koristis scale kao ovdje, daj mu pocetno stanje (scale(1)) tako da tranzicija zna ta 2 krajnja stanja
  */
  transform: scale(1);
  height:auto;
  z-index:5;
}

.single-app-picture-container img:hover{
  /* position: relative; */
  transform: scale(1.5);
  z-index:6;
}

.visit-app{
  font-size:2.5em;
  margin-top:20px;
  margin-bottom: 20px;
}

.visit-app a{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:black;
}

.visit-app a:hover{
  color:rgb(210,204,196);
}

.visit-app img{
  padding:10px;
  width:25px;
}

.codepen-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-codepen-app{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:40%;
  margin:20px;
}

.codepen-image-container{
  position: relative;
}

.codepen-image-container img{
  width:300px;
  border:1px solid black;
  border-radius: 10px;
}

.codepen-image-container div a img{
  width:100px;
}

.codepen-title{
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/*LOGIN DATA FOR MIDDLE - DEV*/
.login-data-container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding:10px;
  margin-top:50px;
  margin-bottom:20px;
  border-radius: 10px;
  border:1px solid black;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
}

.login-data-title{
  font-weight: bold;
  font-size:1.2em;
  margin-top:20px;
  margin-bottom: 20px;
}

.login-data-body{
  display:flex;
  width:40vw;
  justify-content: space-between;

}

.login-data-item{
  display:flex;
  width:200px;
  justify-content: space-around;
  padding:1px 0px;
  align-items: center;
}

.login-data-item svg:hover{
  cursor: pointer;
  transform: scale(1.2);
 
}

.copy-item{
  background-color: #eadac5;
  padding:3px 6px;
  text-align: center;
  font-size:0.7em;
}


/* LOWER CONTAINER */

.contact-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:30px;
  font-size:1.em;
}

.contact-holder{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title{
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.contact-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:20vw;
  padding:2px;
}


.lower-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lower-holder{
  display:flex;
  justify-content: center;

}

.lower-holder div{
  padding:5px;
}

.lower-holder div img{
  max-height: 50px;
  width:50px;
}

.lower-holder div img:hover{
  transform: scale(1.1);
  transition:all .3s ease-in-out;
}

.highlighted{
  font-weight: bold;
 border-bottom: 1px solid black;
 font-size:1.1em;
}

/* MISC */
.bold{
  font-weight: bold;
}

.info-shown{
  display:flex;
}

.info-hidden{
  display:none;
}

/* MEDIA QUERIES */

@media(max-width:300px){
  .login-data-container{
    margin-top:20px;
    font-size:0.8em;
  }

  .single-app-picture-container img:hover{
    transform: scale(1.0);
  }
}

@media (max-width: 480px) {

  .upper-container{
    margin-top:0px;
  }

  .upper-container div{
    margin-bottom: 5px;
  }

  .main-list-mobile{
    display:flex;
    align-items: center;
    padding:3px;
    width:60vw;
  }

  .main-list-mobile img{
  width:4px;
  padding:3px;
  } 

  .row-reversed{
  flex-direction: row-reverse;
  justify-content: flex-end;
  }

.mobile-biography{
  display:flex;
  flex-direction: column;
  font-size:0.8em;
}

.film-mobile-bio{
  position: relative;
  width: 85vw;
  margin-right: 0px;
  left:10vw;
  opacity:1;
  transition: all 0.5s ease-in-out;
}

.dev-mobile-bio{
  position:relative;
  left:25vw;
  opacity:1;
  transition: all 0.5s ease-in-out;
}

.dev-mobile-bio div{
  justify-content: flex-end;
}

.middle-navbar-mobile-container{
  display: flex;
  flex-direction: column;
  width:100vw;
  margin-bottom: 30px;
}

.navbar-mobile-container{
  display: flex;
  margin-bottom:20px;
}

.dev-biography-container > div{
  width:100vw;
  border-bottom:1px solid black;
  margin-bottom:20px;
}

 .film-bar{
  margin-left:10vw;
  border-right: 1px solid black;
  transition: all 0.5s ease-in-out;
 }

 .dev-bar{
  margin-left:65vw;
  transition: all 0.5s ease-in-out;
 }

 .dev-bar + div{
  border-left: 1px solid black;
 }

  .picture-container{
    width:100vw;
  }

  .picture-container img{
    width:40vw;
  }

  .personal-info{
    margin-top:10px !important;
    font-size:0.8em;
  }

  .film-container{
    width:100vw;
  }

  .category-title{
    padding: 10px 20px;
    font-size:1.3em;
  }

  .single-film-container{
    font-size:0.7em;
  }

  .single-film-container img{
    width:30vw;
  }

  .film-hidden img{
    width:10vw;
  }

  .film-picture{
    width:30vw;
  }

  .secondary-list li{
    padding:3px;
  }

  .dev-biography-container{
    width:100vw;
    font-size:0.8em;
  }

  .single-app-info-container div{
    width:100%;
  }

  .single-app-title{
    font-size:1.7em;
    padding: 10px 30px;
  }

  .single-app-picture-container{
    width:90vw;
  }

  .single-app-picture-container img{
    width:25vw;
  }

  .single-app-picture-container img:hover{
    transform: scale(1.0);
  }

  .apps-used-container img{
    width:25px;
    max-height: 30px;
  }

  .single-codepen-app{
    margin:5px;
  }

  .codepen-container{
    width:100vw;
  }

  .codepen-image-container img{
    width:30vw;
  }

  .codepen-image-container div a img{
    width:25px;
  }

  .login-data-container{
    margin-top:20px;
    width:90vw;
  }

  .login-data-body{
    width:auto;
  }

  .login-data-item{
    width:auto;
    padding:5px;
  }

  .login-data-item svg{
    padding:5px;
  }


  /* LOWER */
  
  .lower-container{
    margin-top:20px;
  }

  .lower-container div img{
    width:30px;
  }

  .contact-item{
    width:60vw;
    padding:2px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1280px){
  .upper-container{
    font-size:0.8em;
  }

  .upper-container div{
    margin:10px;
  }

  .picture-container img{
    width:20vw;
  }

  .middle-container{
    font-size:0.8em;
  }

  .film-container{
    width:95vw;
  }

  .film-picture{
    width:200px;
  }

  .film-picture img{
    width:200px;
  }

  .film-hidden img{
    width:5vw;
  }

  .apps-used-container img{
    width:40px;
    max-height:50px;
  }

  .single-app-info-container{
    width:95vw;
  }  
  .single-app-info-container div{
    width:33%;
    margin-left:1px;
  }

  .single-app-picture-container{
    width:95vw;
  }

  .single-app-picture-container img{
    width:25vw;
  }
  
.codepen-container{
  width:95vw;
}

.codepen-image-container img{
  width:30vw;
}

.lower-container{
  margin-top:20px;
}

.login-data-body{
  width:auto;
}

}

@media only screen and (min-width: 1699px){
.login-data-body{
  width:500px;
}
}